<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>{{ name }}</td>
            <td>{{ surname }} </td>
            <td>{{ email }}</td>
            <td>{{ phone }}</td>
            <td>{{ gender }}</td>
        </tr>

    </table>
</div>