{{ attach_library('internship_hello/hello') }}

<div class="tableContainer">
    <table class='styled-table table'>
        <tr>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Surname'|t }}</th>
            <th>Email</th>
            <th>Phone</th>
            <th>{{ 'Gender'|t }}</th>
            <th></th>
        </tr>
       {% for item in data %}
        <tr>
        <td class="hidden">{{ item.id }}</td>
        <td data-toggle="tooltip" title="This is a tooltip">{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        {% if item.gender == 1 %}
        <td>Male</td>
        {% else %}
        <td>Female</td>
        {% endif %}
        <td>{{ item.Delete }}</td>
        </tr>
        {% endfor %}

    </table>
</div>